.popup__item_name {
    width: 100%;
    margin: 52px 0 0;
    padding: 0;
    border: none;
    padding-bottom: 7px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

@media screen and (max-width: 767px) {
    .popup__item_name {
        margin: 77px 0 0;
    }
}