.popup__close {
  width: 40px;
  height: 40px;
  background: url(../../../images/Close.svg);
  background-color: transparent black;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -40px;
  right: -40px;
  padding: 0;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .popup__close {
    width: 20px;
    height: 20px;
    top: -42px;
    right: 8px;
  }
}