.elements__like {
    height: 19px;
    width: 22px;
    background-image: url(../../../images/Serdce.svg);
    background-color: white;
    margin: 5px 5px 1px auto;
    border: none;
    cursor: pointer;
}

.elements__like:hover {
    opacity: .5;
}