.popup__item {
    width: 100%;
    display: block;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 52px 0 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.popup__item:last-of-type {
    padding: 34px 0 6px;
}

@media screen and (max-width: 767px) {
    .popup__item {
        padding: 77px 0 6px;
    }
}